<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="ups">Most Popular</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="post in posts | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/post/{{post.data.title}}">{{post.data.title}}</a>
          <p>Author: {{post.data.author}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
